body {
    align-items: center;
    margin: 0 ;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1533371452382-d45a9da51ad9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=873&q=80);
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;

}
@keyframes animate{
    0%{
        background-image: url(1.jpg);
    }
    10%{
        background-image: url(2.jpg);
    }
    20%{
        background-image: url(3.jpg);
    }
    40%{
        background-image: url(4.jpg);
    }
    50%{
        background-image: url(5.jpg);
    }
    60%{
        background-image: url(6.jpg);
    }
    80%{
        background-image: url(7.jpg);
    }
    100%{
        background-image: url(8.jpg);
    }
}

.time {
    display: flex;
       
}
.time div{
    margin: 10px;
    background-color: bisque;
}

span {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    align-items: center;
    opacity: 0.80;
    width: 100px;
    height: 60px;
    

}
.text{
    font-size: small;
    letter-spacing: 4px;
    text-transform: uppercase;
    justify-content: flex-end;
    padding-bottom: 10px;
    font-weight: bold;
}
#ampm {
    font-size: small;
    height: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: end;
    background-color: rgba(40, 32, 58, 0.829);
    color: azure;
    margin-top: 90px;
    width: 30px;
    padding: 5px;
    opacity: 0.80;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.time .text{
    height: 30px;
    background-color: rgba(211, 43, 113, 0.904);
    margin-top: 20px;
    color: white;
}
h1{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family:sans-serif;
    color: azure;
    font-size: 18px;
    text-align: center;
}